body {
    margin-top: 2.5rem;
    background-image: url("./assets/weatherImage.webp");
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;
}
body > div {
    text-align: center;
}
input {
    width: 15%;
    height: 1.5rem;
    padding-left: .25rem;
}
#get-weather {
    height: 1.8rem;
    padding: 0 0.625rem;
    width: fit-content;
}
#error-text {
    text-align: justify;
    padding: .25rem .5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
img {
    padding-bottom: .5rem;
    width: 2.5rem;
}
div > div {
    padding-top: .625rem;
}
.container {
    display: flex;
    padding: 1.25rem;
    margin: 2.5rem;
    border-radius: .5rem;
}
.container-block {
    width: 20%;
    border: .125rem double rgb(224, 215, 215);
    padding: .625rem 1rem 1.5rem 1rem;
    margin: 1.25rem;
    margin: 1.25rem;
    overflow: hidden;
    border-radius: .5rem;
    color: white;
    background-color: rebeccapurple;
}
/* Modal Stylings */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: .625rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 15.625rem;
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    background-color: #fefefe;
    margin: auto;
    padding: 1.25rem 1rem;
    border: .0625rem solid #888;
    width: fit-content;
    border-radius: 8px
  }
  
  /* The Close Button */
  .close-icon {
    width: 1rem;
  }
  .alert-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

@media only screen and (max-width: 73.75rem) {
    body {
        background-size: 300vh;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    input {
        width: auto;
    }
}
@media only screen and (max-width: 47.9375rem) {
    .container {
        display: block;
    }
    .container-block {
        width: auto;
    }
    input[type="text"]:focus {
        border: .0625rem solid black !important;
    }
    .modal-content {
        margin: .625rem;
    }
    .close-icon {
        margin-top: -2rem;
    }
}