body {
    margin-top: 2.5rem;
    background-image: url("../weatherApp/weather.png");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;  
}
body > div {
    text-align: center;
    color: black;
}
input {
    width: 15%;
    height: 1.5rem;
    padding-left: .25rem;
}
#getWeather {
    height: 1.8rem;
    padding: 0 0.625rem;
    width: fit-content;
}
img {
    padding-bottom: .5rem;
}
div > div {
    padding-top: .625rem;
}
.container {
    display: flex;
    padding: 1.25rem;
    margin: 2.5rem;
    border-radius: .5rem;
}
.container-block {
    width: 20%;
    border: .125rem double rgb(224, 215, 215);
    padding: .625rem 1rem 1.5rem 1rem;
    margin: 1.25rem;
    margin: 1.25rem;
    overflow: hidden;
    border-radius: .5rem;
    color: white;
    background-color: rgb(86, 86, 178);
}

@media only screen and (max-width: 73.75rem) {
    .container {
        display: block;
    }
    .container-block {
        width: auto;
    }
    input {
        width: auto;
    }
}